@font-face {
  font-family: 'opensans';
  src: url('OpenSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'opensans', sans-serif;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

#search {
  width: 233px;
  height: 30px;
  margin: 0;
  float: right;
}

.search-pic {
  margin: 0;
  float: right;
}

#header {
  background-color: #FFFFFF;
}

#nav ul{
  padding: 0;
  border: 5px solid #000000;
}

#nav li {
  display: inline-block;
  /*margin: 10px 13px;*/
  padding: 10px 10px;
}

#nav-logo {
  float: right;
}
#div-1 {
  clear: both;
}

#video-title {
  float: left;
}
#video-title p {
  display: inline-block;
}

#social-link {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

#selection ul{
  padding: 0;
}

#selection li {
  display: inline-block;
  margin: 20px 20px 0px 0px;
}

#selection ul li
#single-line {
  border-top: 1px solid #BBBBBB;
}

hr {
  size: 1;
  color: #BBBBBB;
  width: 100%;
  align: center;
}

#left-arrow{
  width: 12px;
  margin-top: 215px;
  float: left;
}
#right-arrow{
  width: 12px;
  margin-top: 215px;
  float: right;
}

#selection-content {
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-content: space-around;
}

#links {
  width: 960px;
  display: flex;
  justify-content: space-around;
}

#discover {
  display: flex;
  width: 320px;
}

#discover-ul-1 li, #discover-ul-2 li{
  list-style-type: none;
  margin-top: 18px;
}

#discover-ul-1, #discover-ul-2 {
  display: inline-block;
  padding: 0 20px 0 0;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent rgb(182,182,182);
  display: inline-block;
}

#mobile{
  margin-left: 10px;
  color: rgb(198,68,55);
}

#new-video {
  display: flex;
  width: 320px;
  flex-direction: column;
}

.awesome-templates {
  display: flex;
  width: 320px;
  justify-content: space-between;;
  margin-top: 30px;
}

.awesome-templates div p, #mailing-content p {
  margin: 0 0 5px 0;
}


#mailing-content{
  margin-top: 30px;
}

#email-bar {
  display: inline-flex;
  align-items: center;
}

#email-bar-1 {
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: rgb(198,68,55);
  margin: 0;
  padding: 8px;

  height: 18px;
  line-height: 18px;
}

#email-bar-2{
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: rgb(198,68,55);
  margin: 0;
  height: 34px;
  width: 194px;
  line-height: 34px;
  /*align-self: flex-end;*/
}
#email-bar-3 {
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: rgb(198,68,55);
  margin: 0;
  width: 34px;
  height: 34px;
}

#slide {
  text-align: center;
}

#img-2014 {
  float: left;
}

#footer-ditube {
  float: right;
}
